
h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.teaser-page {
  background-image: url('/assets/img/zootiere/landing_teaser_blur.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  overflow-y: scroll;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
  }
}

.logo--zootiere-teaser {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  mix-blend-mode: soft-light;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: calc(100vh - 80px);
    width: auto;
    opacity: 0.5;
  }

  g {
    fill: #000000;
  }
}

.teaser-page__zootiere {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80vh;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: left;

    margin-bottom: 40px;
  }

  .teaser-page__single {
    display: flex;
    margin-top: auto;
    margin-left: 35px;
    margin-right: 35px;
  }

  .teaser-page__artwork {
    margin-left: 35px;
    margin-right: 35px;
  }

  .button {
    text-transform: uppercase;
  }

  .button--presave {
    background: #1DB954;
    color: white;
  }

  .teaser-page__continue {
    margin-top: auto;
  }
}


@media (max-width: 600px) {
  .teaser-page__zootiere {
    .teaser-page__single {
      flex-wrap: wrap;
      padding-left: 20px;
      padding-right: 20px;

      justify-content: center;
    }

    .teaser-page__presave {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .teaser-page__continue {
      margin-bottom: 20px;
    }
  }
}


.teaser-content {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  h2 { 
    color: #efefef;
  }
}

#video-text {
  position: relative;
  z-index: 5;
}