
h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.teaser-page {
  

  background-image: url('/assets/img/teaser_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
  }
}

.teaser-page.teaser-page--video {
  background: none;
  cursor: pointer;
  color: #efefef;
}

.teaser-player {
  // max-width: calc(50vw - 40px);
  // width: calc(50vw - 40px);
}

.teaser-overlay--hidden {
  visibility: hidden;
}

.teaser-video__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.teaser-background-video {
  cursor: pointer;
}

.teaser-content {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  .logo {
    width: 170px;
    height: auto;
  }

  h2 { 
    color: #efefef;
  }
}

.teaser-background-video {
  position: fixed;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  min-width: calc(100% + 40px);
  min-height: calc(100% + 40px);
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(calc(-50% + 10px)) translateY(calc(-50% + 10px));
}

.concert-list {
  opacity: 1;
  transition: opacity 200ms;

  &.concert-list--hidden {
    opacity: 0;
  }
}

#video-text {
  position: relative;
  z-index: 5;
}

.concert-list-open .teaser-background-video {
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

  iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }
}